<!DOCTYPE HTML>
<html>
	<head>
		<title>SpyGame - @ViewData["Title"]</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="~/assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="~/assets/css/ie9.css" /><![endif]-->
		<noscript><link rel="stylesheet" href="~/assets/css/noscript.css" /></noscript>
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="logo">
							<span class="icon fa-user-secret"></span>
						</div>
						<div class="content">
							<div class="inner">
								<h1>SpyGame</h1>
								<p>Example implementation of <a href="https://www.hackerrank.com/challenges/spies-revised/problem" target="_blank">SpyGame</a> solver - Implemented on Azure using C#.</p>
							</div>
						</div>
						<nav>
							<ul>
								<li><a href="/">Intro</a></li>
								<li><a href="/Solutions">Solutions</a></li>
								<li><a href="/AddRequest">New</a></li>
								<li><a href="/About">About</a></li>
							</ul>
						</nav>
					</header>

				<div id="content">
					@RenderBody()
				</div>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="~/assets/js/jquery.min.js"></script>
			<script src="~/assets/js/skel.min.js"></script>
			<script src="~/assets/js/util.js"></script>
			<script src="~/assets/js/main.js"></script>
	
	@RenderSection("Scripts", required: false)
	</body>
</html>
