################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SpyLib/bin/Debug
/SpyLib/obj/Debug
/SpyLib/obj/Release
/SpyLibTest/bin/Debug
/SpyLibTest/obj/Debug
/SpyLibTest/obj/Release
/SpyWebOld/bin/Debug/netcoreapp2.0
/SpyWebOld/obj
/obj/x86
/packages
/bin/Debug
/.vs/SpyGame/v15/Server/sqlite3
/.vs/SpyGame/v15/.suo
