@page
@{
    ViewData["Title"] = "About";
}
<h2>Implementation details</h2>
This implementation is split into two parts. This website that gives an interface to show the solutions. And a solver, the solver is described in more detail in 
the article <a href="http://datadriven-investment.com/index.php/2018/03/03/programming-puzzles-spy-game-npcomplete/">here.</a>

<h3>Website implementation</h3>
Runs on Azure.

<h3>Solver implementation</h3>
See more details <a href="http://datadriven-investment.com/index.php/2018/03/03/programming-puzzles-spy-game-npcomplete/">here.</a>