@page
@model Pages.AddRequestModel

<h2>Queue new board</h2>

<form method="POST">
<table>
    <tbody>
        <tr>
            <td>n</td>
            <td><input type="text" name="N" /></td>
        </tr>
        <tr>
            <td>Validator</td>
            <td>
                <select name="Validator">
                    @foreach (var validator in Model.Validators)
                    {
                        <option>@validator.ToString()</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>Generator</td>
            <td>
                <select name="Generator">
                    @foreach (var generator in Model.Generators)
                    {
                        <option>@generator.ToString()</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" /></td>
        </tr>
    </tbody>
</table>    
</form>