@page
@using SpyWeb.Pages.Queues
@model Pages.Queues.CreateQueue

<h2>Separate page model</h2>
<p>
    @Model.Message
</p>

<form method="POST">
    <div>Name: <input name="queue-message" /></div>
    <input type="submit" />
</form>